body {
    background:#F2E4DC;
    font-family: Arial, Helvetica, sans-serif;
}

.assignments{
    display:flex;
    flex-wrap:wrap;
}

.assignment{
    width:30%;
    padding:10px;
    margin: 10px;
    padding:20px 10px;
    background: #BAEBFF;
    border-radius: 20px;
}

.assignment img{
    width:400px;
    height:400px;
    margin: 10px;
    border: 6px solid #025E73;
    border-radius: 20px;
    display:block;
    margin:auto;
}

.assignment img:hover {
    border: 6px solid #B2B08E;
}

h1{
    color:#248EA6;
    text-align:center;
}

h2{
    text-align:center;
}

a{
    text-decoration:none;
     color: #025E73;
}

a:hover{
    color: #B2B08E
}
